body
{
  zoom: .8;
}
#Brands img
{
  width: 100%;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
@media(min-width: 1000px) {



  body {
    background-color: white;
    font-family: "Times New Roman", Times, serif;
  }

  h1 {
    font-size: 50px;
  }

  .background-container {
    justify-content: center;
    text-align: center;
    margin-top: 0;
    width: auto;
    background-image: url("https://lirp.cdn-website.com/87a49eaf/dms3rep/multi/opt/IMG_20220111_162647-58538e88-1920w.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    max-width: none !important;

    padding: 254px 40px !important;
    height: auto !important;
    background-color: transparent !important;
    padding: 20%;
  }

  .ourteam {
    position: relative;
    overflow: hidden;
  }

  #squiggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    animation: wave 2s infinite alternate;
  }

  .content {
    z-index: 2; 
    color: white; 
    text-decoration-skip-ink: none;
    word-wrap: break-word;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); 
    backdrop-filter: brightness(60%);
    padding-top: 10px;
    padding-bottom: 25px;
    font-weight: 300;
  }

  #learn {
    width: 2%;
    height: 2%;
    background-color: #2e8b57;
    border-radius: 10px;
    border: 1px 1px 1px 1px solid black;
    text-decoration: none;
    color: white;
    padding: 0.5%;
  }

  a:hover {
    filter: brightness(60%);
  }

  #whytrain {
    margin-top: 5%;
    padding-bottom: 100px;
  }

  #desc {
    justify-content: center;
    text-align: center;
    color: #2e8b57;
    word-wrap: break-word;
  }

  #innov {
    margin-bottom: 1%;
  }

  .gridContainer {
    display: flex;
    justify-content: center;
  }
  .grid-item {
    display: flex;
    padding: 100px;
    padding-bottom: 50px;
    text-wrap: no-wrap;
  }

  .imgContainer img {
    width: 120%;
  }

  .imgContainer {
    flex: 0 0 auto; 
    margin-right: 40px; 
    margin-top: 30px;
    width: 10%;
  }

  .textContainer {
    flex: 1;
    color: #2e8b57;
  }

  .head {
    margin-top: 0; 
    font-size: 24px;
  }

  .desc {
    margin-top: 0; 
    text-wrap: nowrap;
  }

  #About {
    display: flex;
  }

  #abtxtcontainer {
    background-color: white;
    color: #2e8b57;
    padding-bottom: 5%;
  }
  #abtxtcontainer > h3 {
    flex: 1;
    color: #2e8b57;
    font-size: 40px;
    font-weight: 500;
    margin-left: 40px;
  }

  #abtxtcontainer > p {
    flex: 1;
    color: #2e8b57;
    margin-left: 40px;
    margin-bottom: 4%;
  }
  #abImgContainter {
    flex: 0; 
    padding-right: 300px; 
    background-image: url("../assets/logo.png");
    zoom: 3;
    background-repeat: no-repeat;
    background-position: center;
  }

  #callbtn {
    padding: 1%;
    border-radius: 5%;
    border: 2px solid white;
    background-color: #2e8b57;
    margin-left: 3%;
    color: white;
  }

  .column {
    float: left;
    width: 25%;
    margin-bottom: 40px;
    margin-right: 2%;
    margin-left: 5%;
    padding: 0 8px;
    color: #2e8b57;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .card {
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding-bottom: 5%;
    border-radius: 5%;
    display: flex; 
    flex-direction: column; 
    height: 100%; 
  }

  .container {
    padding: 0 16px;
    height: 100%; 
    background-color: white;
  }

  .card img {
    width: 100%;
    border-radius: 5%;
  }

  .container::after,
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: #2e8b57;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    background-color: #555;
  }

  .ourteamheader {
    font-size: 40px;
    color: black;
    margin-left: 4%;
    margin-top: 0%;
    padding-top: 3%;
  }

  #meet {
    color: black;
    font-weight: 100;
  }

  #team {
    color: #2e8b57;
    font-weight: 600;
  }
  .card:hover {
    opacity: 0.8;
  }

  #Offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  #offerImgContainter {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
  }

  .category {
    text-align: center;
    border: 3px solid rgb(190, 163, 6);
    padding: 2%;
    border-radius: 1.5%;
    box-shadow: 1px 1px 1px 1px gray;
  }


  .category h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #2e8b57;
  }

  .category ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #2e8b57;
  }

  .category li {
    margin-bottom: 8px;
  }

  #whatweoffer {
    text-align: center;
    color: #2e8b57;
    font-size: 40px;
    font-weight: 500;
  }

  #headering {
    text-align: center;
    font-size: larger;
  }

  #bookbtn {
    padding: 1%;
    border-bottom: 3px solid white;
    margin-left: 4%;
    padding-top: 10%;
  }

  #bookbtn:hover {
    color: #26814e;
  }

  #Contact {
    display: flex;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    color: #26814e;
    background-color: #26814e;
    color: white;
  }

  #CompanyInfo {
    width: 50%;
    color: white;
    margin-right: 15%;
  }
  #CompanyInfo a {
    text-decoration: none;
    color: white;
  }

  #CompanyInfo div {
    margin-top: 10%;
  }

  #CompanyInfo h3 {
    margin-top: 10%;
    font-size: large;
  }

  #OpeningHours {
    font-weight: 600;
    font-size: large;
  }
  #socials {
    display: flex;
  }
  #socials img {
    width: 10%;
  }
}




@media (max-width: 1000px) {
  h1 {
    font-size: 50px;
  }

  .background-container {
    justify-content: center;
    text-align: center;
    margin-top: 0;
    width: auto;
    background-image: url("https://lirp.cdn-website.com/87a49eaf/dms3rep/multi/opt/IMG_20220111_162647-58538e88-1920w.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    max-width: none !important;

    padding: 254px 40px !important;
    height: auto !important;
    background-color: transparent !important;
    padding: 20%;
  }

  #whytrain {
    margin-top: 5%;
    padding-bottom: 50px; 
  }

  .content {
    z-index: 2; 
    color: white; 
    text-decoration-skip-ink: none;
    word-wrap: break-word;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); 
    backdrop-filter: brightness(60%);
    padding-top: 10px;
    padding-bottom: 25px;
    font-weight: 300;
  }

  #learn {
    width: 2%;
    height: 2%;
    background-color: #2e8b57;
    border-radius: 10px;
    border: 1px 1px 1px 1px solid black;
    text-decoration: none;
    color: white;
    display: none;
    padding: 0.5%;
  }

  a:hover {
    filter: brightness(60%);
  }

  
  #desc {
    justify-content: center;
    text-align: center;
    color: #2e8b57;
    word-wrap: break-word;
    padding: 0 20px; 
  }
  
  .gridContainer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  
  .grid-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px;
    text-wrap: no-wrap;
  }
  
  .imgContainer img {
    width: 50%; 
    margin-left: 22%;
  }
  
  .imgContainer {
    margin-bottom: 20px; 
    width: 100%;
  }
  
  .textContainer {
    text-align: center;
    color: #2e8b57;
  }

  svg
  {
    display: none;
  }
  
  .head {
    margin-top: 0;
    font-size: 24px;
  }
  
  .desc {
    margin-top: 0;
  }

  #About {
    flex-direction: column; 
  }
  
  #abtxtcontainer {
    background-color: white;
    color: #2e8b57;
    padding: 5% 10px; 
  }
  
  #abtxtcontainer > h3 {
    font-size: 28px; 
    font-weight: 500;
    margin-left: 0; 
  }
  
  #abtxtcontainer > p {
    margin-left: 0; 
    margin-bottom: 4%;
  }
  
  #abImgContainer {
    flex: 0; 
    background-image: url("../assets/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px; 
    margin-bottom: 20px; 
  }
  
  #callbtn {
    padding: 8px 12px; 
    border-radius: 5px; 
    border: 2px solid white;
    background-color: #2e8b57;
    margin-left: 0%; 
    color: white;
  }

  .column {
    width: 100%;
    margin-bottom: 40px;
    margin-right: 0;
    margin-left: 0;
    padding: 0 8px;
    color: #2e8b57;
}

.card {
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding-bottom: 5%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 0 16px;
    background-color: white;
}

.card img {
    width: 100%;
    border-radius: 5%;
}
    .column {
        width: 90%; 
        margin-right: 2%; 
    }

    .ourteam {
      position: relative;
      overflow: hidden;
    }
  
    #squiggle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: -1;
      animation: wave 2s infinite alternate;
    }

    .ourteamheader {
      font-size: 40px;
      color: black;
      margin-left: 4%;
      margin-top: 0%;
      padding-top: 3%;
    }
  
    #meet {
      color: black;
      font-weight: 100;
    }
  
    #team {
      color: #2e8b57;
      font-weight: 600;
    }

    #whatweoffer {
      text-align: center;
      color: #2e8b57;
      font-size: 40px;
      font-weight: 500;
    }
  
    #headering {
      text-align: center;
      font-size: larger;
    }
  
    #Offer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 20px;
    }
  
    #offerImgContainter {
      background-color: white;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-around;
      max-width: 1200px;
      width: 100%;
    }
  
    .category {
      text-align: center;
      border: 3px solid rgb(190, 163, 6);
      padding: 2%;
      border-radius: 1.5%;
      box-shadow: 1px 1px 1px 1px gray;
    }
  
   
  
    .category h3 {
      font-size: 24px;
      margin-bottom: 10px;
      color: #2e8b57;
    }
  
    .category ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      color: #2e8b57;
    }
  
    .category li {
      margin-bottom: 8px;
    }

    #Contact {
      display: flex;
      padding-bottom: 5%;
      padding-top: 5%;
      padding-left: 5%;
      padding-right: 5%;
      color: #26814e;
      background-color: #26814e;
      color: white;
    }
  
    #CompanyInfo {
      width: 50%;
      color: white;
      margin-left: 10%;
    }
    #CompanyInfo a {
      text-decoration: none;
      color: white;
    }
  
    #CompanyInfo div {
      margin-top: 10%;
    }
  
    #CompanyInfo h3 {
      margin-top: 10%;
    }
  
    #OpeningHours {
      font-weight: 600;
    }
    #socials {
      display: flex;
    }
    #socials img {
      width: 10%;
    }

    #CompanyInfo {
      width: 50%; 
      margin-left: 10%;
  }

  #OpeningHours {
      width: 50%; 
      margin-top: 0; 
  }

  #Contact {
    display: flex;
    flex-wrap: wrap; 
    padding: 5%;
    color: white;
    background-color: #26814e;
}

#CompanyInfo {
    width: 100%; 
    margin: 0; 
}

#CompanyInfo a {
    text-decoration: none;
    color: white;
}

#CompanyInfo div,
#CompanyInfo h3 {
    margin-top: 5%; 
    font-size: medium;
}

#OpeningHours {
    font-weight: 600;
    width: 100%; 
    margin-top: 5%; 
    
}

#socials {
    display: flex;
    justify-content: space-around; 
}

#socials img {
    width: 20%; 
}
  
}