

h1{
    font-size: 50px;
}


.background-container {
    justify-content: center;
    text-align: center;
    margin-top: 0;
    width: auto;
    background-image: url("https://lirp.cdn-website.com/87a49eaf/dms3rep/multi/opt/IMG_20220111_162647-58538e88-1920w.jpg")  !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    max-width: none !important;
   
    padding: 254px 40px !important;
    height: auto !important;
    background-color: transparent !important;
    padding: 20%;
    
}



.content {
    z-index: 2; /* Ensure the content is above the pseudo-element */
    color: white; /* Adjust text color to be visible against the dimmed background */
    text-decoration-skip-ink: none;
    word-wrap: break-word;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* Adjust the values a */
    backdrop-filter: brightness(60%);
    padding-top: 10px;
    padding-bottom: 25px ;
    font-weight: 300;
}

#learn
{
    width: 2%;
    height: 2%;
    background-color: rgb(12, 82, 12);
    border-radius: 10px;
    border: 1px 1px 1px 1px solid black;
     text-decoration: none;
     color: white;
     padding: .5%;
}

a:hover{
    filter: brightness(60%);
}


#whytrain
{
    margin-top: 5%;
    padding-bottom: 100px;
}

#desc
{
    justify-content: center;
    text-align: center;
    color:  black;
    word-wrap: break-word;
}

#innov
{
    margin-bottom: 1% ;
}

.gridContainer
{
    display: flex;
    justify-content: center;
}
.grid-item
{
    display: flex;
    padding: 100px;
    padding-bottom: 50px;
    text-wrap: no-wrap;
}

.imgContainer img{
  width: 120%;
}

.imgContainer {
    flex: 0 0 auto; /* Ensure the image container doesn't grow */
    margin-right: 40px; /* Adjust the margin to create space between image and text */
    margin-top: 30px;
    width: 10%;
    
  }
  
  .textContainer {
    flex: 1; /* Allow the text container to grow and fill the available space */
    color: darkslategray;
  }
  
  .head {
    margin-top: 0; /* Reset margin for the heading */
    font-size: 24px;     
  }

  .desc {
    margin-top: 0; /* Reset margin for the paragraph */
    text-wrap: nowrap;
  }

#About
{
    display: flex;
   
}

#abtxtcontainer
{
    background-color: green;
    color: white;
    padding-bottom: 5%;
    
}
#abtxtcontainer>h3
{
    flex: 1;
    color: white;
    font-size: 40px;
    font-weight: 500;
    margin-left: 40px;
}

#abtxtcontainer>p
{
    flex: 1;
    color: white;
    margin-left: 40px;
    margin-bottom: 4%;
}
#abImgContainter
{
    flex: 0; /* Ensure the image container doesn't grow */
    padding-right: 300px; /* Adjust the margin to create space between image and text */
    background-image: url("https://lirp.cdn-website.com/87a49eaf/dms3rep/multi/opt/lorka+logo-126w.png");
    background-repeat:no-repeat ;
    background-position: center;
}

#callbtn
{
    padding: 1%;
    border-radius: 5%;
    border: 2px solid white;
    background-color: rgb(2, 176, 2);
    margin-left: 3%;
}
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 40px;
    margin-right:2% ;
    margin-left:5% ;
    padding: 0 8px;

  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 5%;
    border-radius: 5%;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack child elements vertically */
    height: 100%; /* Ensure card takes full height */
  }
  
  .container {
    padding: 0 16px;
    height: 100%; /* Ensure container takes full height */
  }

  .card img
  {
    width: 100%;
    border-radius: 5%;
  }

 
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  #ourteamheader
  {
    font-size: 40px;
    color: black;
    margin-left: 4%;
    margin-top: 0%;
    padding-top: 3%;
  }

 
  #meet
  {
    color: black;
    font-weight: 100;
  }

  #team
  {
    color: green;
    font-weight: 600;
  }
  .card:hover
  {
    opacity: .8;
  }

 
  #Offer
{
    display: flex;
   
}

#offertxtcontainer
{
    background-color: green;
    color: white;
    padding-bottom: 15%;
    text-align: center;
    
}
#offertxtcontainer>h3
{
    flex: 1;
    color: white;
    font-size: 40px;
    font-weight: 500;
    margin-left: 40px;
    margin-top: 30%;
}

#offertxtcontainer>p
{
    flex: 1;
    color: white;
   
    margin-bottom: 4%;
    margin-top: 10%;
}
#offerImgContainter
{
    flex: 0; /* Ensure the image container doesn't grow */
    padding-left: 45%; /* Adjust the margin to create space between image and text */
    background-image: url("../assets/PriceList.png");
    background-repeat:space;
    background-position:top;
   background-size:cover;
   zoom: 50%;
}

#bookbtn
{
    padding: 1%;
   
    border-bottom: 3px solid white;
    margin-left: 4%;
    padding-top: 10%;
}

#bookbtn:hover
{
  opacity: .9;
}