.header {
    padding-bottom: 0.5%;
    background-color: white;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    width: 100%; /* Ensure the header spans the full width */
    top: 0;
    z-index: 1000; /* Set a high z-index to keep it above other elements */
}

#burger {
    display: none;
}

#PageHeader {
    color: black;
    -webkit-text-stroke: 2px #2e8b57;
    stroke: 1px #2e8b57;
    font-size: 40px;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.navbar li {
    margin-top: 3%;
    padding: 20px;
    font-size: x-large;
    color: #2e8b57;
}

.navbar li:hover {
    padding: 20px;
    border-bottom: 7px solid #2e8b57;
    transition: border-bottom .5s ease-in;
    font-size: 22px;
}

.navbar {
    color: black;
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

#logo {
    margin-left: auto; /* Adjust the margin for spacing */
}

@media (max-width: 812px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        width: 100%;
        text-align: center;
        display: none;
    }

    #logo {
        float: none;
        margin: 10px auto; /* Adjust the margin as needed */
        width: 20%;
    }

    #burger {
        display: block;
        width: 10%;
    }
}
